GitHub  Lỗi đăng nhập 

<ul>
  <li> Bạn  GitHub  Trương mục  Email  Và trước  CNodejs  Đăng nhập  Email  Lặp lại 。</li>
  <li>
    <p> Cũng có thể  Bạn  Của  GitHub  Không cung cấp công cộng  Của  Profile Email  Dẫn đến thất bại đăng ký 。</p>

    <p> Xem ：https://github.com/settings/profile  Thiết lập  Bạn  Của  Mở  Email  Địa chỉ 。 Hãy chắc chắn rằng  Bạn  GitHub  Của  Hồ sơ có thể nhìn thấy  Của  Email， Như hình dưới đây ：</p></li>
  <a href="https://github.com/alsotang" target="_blank"><img src="http://alsotang.u.qiniudn.com/QQ20140807-1.png"></a>
</ul>


