<div class='col_fade'>
  <p> Máy chủ được xây dựng trong 
    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"
      class="sponsor_outlink" data-label="digitalocean">
      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"
      alt="UCloud Cloud Hosting " width="92px"/>
    </a>
  ， Tài trợ cho việc lưu trữ 
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/qiniu.png') %>" title=" Bảy gia súc lưu trữ đám mây "
      alt=" Bảy gia súc lưu trữ đám mây " width="115px"/>
    </a>
  </p>
</div>
