<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown  Cú pháp tham khảo </span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>###  Tiêu đề một dòng </tt></li>
        <li><tt>** In đậm **</tt></li>
        <li><tt>'console.log(' Mã nội tuyến ')'</tt></li>
        <li><tt>'''js\n code \n'''</tt>  Khối Mã thẻ </li>
        <li><tt>[ Nội dung ]( Liên kết )</tt></li>
        <li><tt>![ Phụ đề ]( Hình ảnh  Liên kết )</tt></li>
      </ol>
      <span><a href='http://www.ituring.com.cn/article/775' target='_blank'>Markdown  Hồ sơ </a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'> Hướng dẫn Chủ đề </span>
    </div>
    <div class='inner'>
      <ol>
        <li> Cố gắng tập trung tiêu đề trong những điểm chủ đề </li>
        <li> Mã Ý nghĩa và lỗi trong  <a href="http://segmentfault.com/t/node.js">SegmentFault</a>  Câu hỏi </li>
        <li> Chọn nhãn hiệu phù hợp với chủ đề có thể làm tăng duyệt </li>
      </ol>
    </div>
  </div>

</div>
