<div id='sidebar'>

  <div class='panel'>
    <% if (typeof(user) !== 'undefined' || typeof(current_user) !== 'undefined') { %>
    <div class='header'>
      <span class='col_fade'> Thông tin cá nhân </span>
    </div>
    <div class='inner'>
      <%- partial('user/card',{ object: typeof(user) === 'undefined' ? current_user : user, as: 'user' }) %>
    </div>
    <% } else { %>
    <div class='inner'>
      <p><%= config.description %></p>

      <div>
         Bạn có thể 
        <a href='/signin'> Đăng nhập </a>
         Hoặc 
        <a href='/signup'> Đăng ký </a>
        ,  Bạn cũng có thể 
        <a href="/auth/github">
          <span class="span-info">
             Qua  GitHub  Đăng nhập 
          </span>
        </a>
      </div>
    </div>
    <% } %>
  </div>

  <% if (typeof(current_user) !== 'undefined') { %>
  <div class="panel">
    <div class='inner'>
      <a href='/topic/create' id='create_topic_btn'>
        <span class='span-success'> Chủ đề văn </span>
      </a>
    </div>
  </div>
  <% } %>

  <% if (typeof(current_user) === 'undefined' || !current_user.isAdvanced) { %>
    <%- partial('./_ads') %>
  <% } %>

  <% if (typeof(no_reply_topics) !== 'undefined') { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'> Chủ đề chưa được trả lời </span>
    </div>
    <div class='inner'>
      <% if (no_reply_topics.length > 0) { %>
      <ul class="unstyled">
        <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
      </ul>
      <% } else { %>
      <p> Không </p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (typeof(tops) !== 'undefined') { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'> Bảng xếp hạng </span>
      &nbsp;
      <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
        <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p> Không </p>
      <% } %>
    </div>
  </div>
  <% } %>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'> Thân thiện với cộng đồng </span>
    </div>
    <div class='inner'>
      <ol class="friendship-community">
        <li>
          <a href="https://ruby-china.org/" target="_blank">
            <img src="<%- staticFile('/public/images/ruby-china-logo2.png') %>">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://golangtc.com/" target="_blank">
            <img src="<%- staticFile('/public/images/golangtc-logo.png') %>">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://phphub.org/" target="_blank">
            <img src="<%- staticFile('/public/images/phphub-logo.png') %>">
          </a>
        </li>
      </ol>
    </div>
  </div>

</div>
