<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'> Trang chủ </a><span class='divider'>/</span></li>
        <li class='active'> Có gì mới </li>
      </ul>
    </div>
    <% if (typeof(hasnot_read_messages) !== 'undefined' && hasnot_read_messages.length > 0) { %>
    <%- partial('../message/message', { collection: hasnot_read_messages, as: 'message' }) %>
    <% } else { %>
    <div class='inner'>
      <p> Không có thông báo </p>
    </div>
    <% } %>
  </div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'> Thông tin quá khứ </span>
    </div>
    <% if (typeof(has_read_messages) !== 'undefined' && has_read_messages.length > 0) { %>
    <%- partial('../message/message', { collection: has_read_messages, as: 'message' }) %>
    <% } else { %>
    <div class='inner'>
      <p> Không có thông báo </p>
    </div>
    <% } %>
  </div>
</div>
