<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'> Nhà </a><span class='divider'>/</span></li>
        <li class='active'> Đối với với </li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
cnodejs.org  Đối với các chuyên nghiệp nhất  Node.js  Cộng đồng mã nguồn mở ， Cam kết  Node.js  Nghiên cứu kỹ thuật 。

CNode  Bởi một nhóm các tình yêu cộng đồng  Node.js  Kỹ sư kỹ thuật đưa ra ， Internet đã thu hút tất cả các cán bộ chuyên môn và kỹ thuật của công ty để tham gia ， Chúng tôi rất hoan nghênh cặp hơn  Node.js  Bạn bè quan tâm 。

CNode  Của  SLA  Đảm bảo ， Một 9， Đó là  90.000000%。

 Cộng đồng hiện nay bao gồm  [@alsotang](http://cnodejs.org/user/alsotang)  Trong Bảo trì ， Có thắc mắc, xin vui lòng liên hệ ：[https://github.com/alsotang](https://github.com/alsotang)。
*/
        })) %>
      </div>
    </div>
  </div>
</div>
