<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'> Nhà </a><span class='divider'>/</span></li>
        <li class='active'>FAQ</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>FAQ</h3>
      <hr/>
      <div class="topic_content">
        <p>A：CNode  Cộng đồng và  Node Club  Mối quan hệ là gì ？</p>

        <p>Q：Node Club  Là một sử dụng  Node.js  Và  MongoDB  Phát triển cộng đồng phần mềm nguồn mở ，CNode  Dựa  Node Club  Của  Node.js  Cộng đồng kỹ thuật Việt 。</p>
      </div>
    </div>
  </div>
</div>
